name: Build APK

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:  # можно запускать вручную

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git zip unzip openjdk-11-jdk python3-pip \
            libffi-dev libssl-dev autoconf automake \
            libtool pkg-config zlib1g-dev libncurses5-dev \
            libncursesw5-dev libtinfo5
      - name: Install Android SDK tools
        run: |
          sudo apt-get install -y wget
          mkdir -p $HOME/android-sdk
          cd $HOME/android-sdk
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
          unzip cmdline-tools.zip -d cmdline-tools
          mkdir -p cmdline-tools/latest
          mv cmdline-tools/cmdline-tools/* cmdline-tools/latest/
          yes | cmdline-tools/latest/bin/sdkmanager --sdk_root=$HOME/android-sdk --licenses
          yes | cmdline-tools/latest/bin/sdkmanager --sdk_root=$HOME/android-sdk \
              "platform-tools" "build-tools;34.0.0" "platforms;android-34" "cmdline-tools;latest"

      - name: Set ANDROID_HOME
        run: echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: mykivyapp-apk
          path: bin/*.apk

